.ionic-body
	.bar.bar-header.bar-dark
		h1.title.h1 {{list.name}}
		button.button.button-positive(ng-click='modal.show()') Ajouter    
			i.icon.ion-plus

	.content.has-header.ionic-pseudo
		.list.card
			a.item(ng-repeat='entry in entries', ui-sref='entry({id: entry._id})') {{entry.name}}
			a.item() test
		p debug

	.bar.bar-footer.bar-stable

script(id='add.html', type='text/ng-template')
	ion-modal-view
		ion-header-bar
			h1.title tasdsada
		ion-content
			.s test