.ionic-body
	.bar.bar-header.bar-dark
		h1.title.h1 {{list.name}}

	.content.has-header.ionic-pseudo
		.list.card
			a.item(ng-repeat='list in lists', ui-sref='list({id: list._id})') {{list.name}}
		p debug

	.bar.bar-footer.bar-stable